@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Oswal', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #dddddd;
}

.item-container {
  background-color: #ecf0f1;
  padding: 2rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 50vw;
  min-width: 500px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgba(140, 140, 140, 0.9),
    0 6px 6px rgba(140, 140, 140, 0.9);
  overflow: hidden;
}
.love-me:focus {
  outline: 0;
  border: 1px solid #f36b7e;
}
.love-me:active {
  border: 0;
}
.item-container h3 {
  text-align: center;
  margin-bottom: 2rem;
  display: inline-flex;
  align-items: center;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.item-container .fa-heart {
  margin: 0 10px;
  color: #f36b7e;
}

.love-me {
  height: 75%;
  width: 90%;
  border-radius: 20px;
  border: 1px solid #dddddd;
  background: url('') no-repeat center center/cover;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.love-me img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.love-me .fa-heart {
  position: absolute;
  animation: grow 1s linear;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.item-container small {
  display: flex;
  font-size: 19px;
  margin-top: 2rem;
  font-weight: bold;
  align-items: center;
}

@keyframes grow {
  0% {
    transform: scale(50);
  }

  25% {
    transform: scale(10);
  }
  50% {
    transform: scale(2);
    opacity: 0.7;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
