@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #d8d8d8;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 20px;
}

.joke-container {
  background-color: #eeeeee;
  border-radius: 25px;
  padding: 50px 20px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 750px;
}

.joke-container h1 {
  margin: 0 auto;
  opacity: 0.7;
  font-size: 25px;
  font-weight: 700;
  max-width: 50%;
  border-bottom: #fad780 2px solid;
  letter-spacing: 1.1px;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
}

.btn {
  background-color: #fad780;
  border: 0;
  border-radius: 10px;
  color: #000;
  opacity: 0.7;
  font-family: inherit;
  box-shadow: 0 10px 20px rgba(95, 38, 38, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.btn:focus,
.btn:hover {
  transform: scale(0.98);
  transition: all 0.4s ease-in-out;
}

.btn:active {
  box-shadow: none;
  outline: none;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 768px) {
  .joke-container h1 {
    font-size: 20px;
    max-width: 80%;
  }

  .joke {
    font-size: 20px;
    max-width: 450px;
  }
}
